@import	"./_general";

button.btn {
	padding: 15px 80px;
	color: $white;
	background-color: $blue1;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;

	&:hover, &:focus {
		background-color: $blue2;
	}
}

@media screen and (max-width: $resolution-s) {
	button.btn {
		width: 100%;
	}
}