/* ------------------------------------------------------------------------
Imports
------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ------------------------------------------------------------------------
Colors
------------------------------------------------------------------------- */

$white: #FFF;
$black: #000;

$yellow: #FFE900;

$gray_sure: #EEE;
$gray_dark: #545454;
$gray1: #B9B9B9;

$blue1: #3483FB;
$blue2: #2A69C8;

$alert: #FA7E15;


/* ------------------------------------------------------------------------
Type Styles
------------------------------------------------------------------------- */

$font_site: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;

@mixin type-body {
	font-family: $font_site;
	font-size: 1.0625rem;
	color: $gray_dark;
}


@mixin font-heavy {
	font-weight: 700;
}

/* ------------------------------------------------------------------------
Resolutions
------------------------------------------------------------------------- */

$resolution-full: 990px;
$resolution-m: 480px;
$resolution-s: 400px;